extends layout 

block content   

    h1= title 
    div(class="container")
        ul
            li= `Name: ${framework.title}`
            li= `Type: ${framework.type}`
            li= "Documentation: "
                a(href= framework.url) visit url
            li= `Version: ${framework.version}`
            li= `Released: ${framework.released}`
            li= `Description: ${framework.desc}`
                each item in framework.language
                    li= `Language: `
                        a(href= item.urlid) !{item.title}