extends layout 

block content   

    h1= title 
    div(class="container")
        ul
            li= `Name: ${(null===framework.title ? '' : framework.title)}`
            li= `Type: ${(null===framework.type ? '' : framework.type)}`
            li= "Documentation: "
                a(href= framework.url) visit url
            li= `Version: ${(null===framework.version ? '' : framework.version)}`
            li= `Released: ${(null===framework.released ? '' : framework.released)}`
            li= `Description: ${(null===framework.desc ? '' : framework.desc)}`
            li= `Language: `
                each item in framework.language
                    a(href= item.urlid) !{item.title}