extends layout

block content
    block scripts
        script(type="text/javascript").
            window.addEventListener('DOMContentLoaded', function() {
                const modal = document.querySelector("#modal")
                const delete = document.querySelector(".delete")
                
                delete.addEventListener("click", () => {
                    modal.showModal()
                })
            }, false)

    h1= title
    div(class="container")
        ul
            li= `Name: ${language.title}`  
            li= "Documentation: "
                a(href= language.url) visit url
            li= `Type System: ${language.typeSystem_list}`
            li= `Version: ${language.version}`
            li= `Released: ${language.released}`
            li= `Description: ${language.desc}`
            li= "Technologies: "
                each item in language.library
                    a(href=item.urlid)= `${item.title}`
                each item in language.framework
                    a(href=item.urlid)= `${item.title}`
            if image
                img(src=`${image}` alt="")
            else

    p 
        a(href=`/technologies/language/${language._id}/delete`) Delete
    p 
        a(href=`/technologies/language/${language._id}/update`) Update