extends layout

block content
    block scripts
        script(type="text/javascript").
            window.addEventListener('DOMContentLoaded', function() {
                const modal = document.querySelector("#modal");
                const deleteModal = document.querySelector("#delete-modal");
                const confirmDeletion = document.querySelector("#delete")
                
                deleteModal.addEventListener("click", () => {
                    modal.showModal()
                })

                confirmDeletion.addEventListener("click", () => {
                    
                })

                //- modal.addEventListener("close", () => {

                //- })

            }, false)

    h1= title
    div(class="container")
        ul
            li= `Name: ${language.title}`  
            li= "Documentation: "
                a(href= language.url) visit url
            li= `Type System: ${language.typeSystem_list}`
            li= `Version: ${language.version}`
            li= `Released: ${language.released}`
            li= `Description: ${language.desc}`
            li= "Technologies: "
                each item in language.library
                    a(href=item.urlid)= `${item.title}`
                each item in language.framework
                    a(href=item.urlid)= `${item.title}`
            if image
                img(src=`${image}` alt="")
            else

    button(id="delete-modal") Delete

    p 
        a(href=`/technologies/language/${language._id}/update`) Update

    dialog#modal
        form(method="POST" action=`/technologies/language/${language._id}/delete`)
            button(id="delete" type="submit" value="default") Confirm
            button(value="cancel" formmethod="dialog") Cancel