extends layout

block content

    h1= title
    div(class="container")
        ul
            li= "Name: "
                a(href= language.urlid) !{language.title}   
            li= "Documentation: "
                a(href= language.url) visit url
            li= `Type System: ${language.typeSystem_list}`
            li= `Version: ${language.version}`
            li= `Released: ${language.released}`
            li= `Description: ${language.desc}`
            li= "Technologies: "
                each item in language.library
                    a(href=item.urlid)= `${item.title}`
    p 
        a(href=language.url+'/delete') Delete
    p 
        a(href=language.url+'/edit') Edit